/*
. class
# id
*/
* {
    background-color:ghostwhite;
}

#intro {
   width: 60%;
   align-items: center;
}

#intro h1 h2 {
   margin: 0px;
}

#startBtn{
    color: white;
    background-color: darkmagenta;
    border:none;
    font-size: larger;
    border-radius: 5px;
}

#scoretest {
    color:blue;
}

#scoreslink {
    float:left;
    /* top score is floating left, found the hard way that float elements cannot use margin/padding left/right,
    have space out of the left/right edge is to position relative.*/
    position: relative;
    left: 5px;
    background-color: none;
    border:none;
    color:blue;
    text-decoration: underline;
}

#timer {
 float:right;
 /* timer is floating right, found the hard way that float elements cannot use margin/padding left/right,
 have space out of the left/right edge is to position relative.*/
  position: relative;
  right: 5px;
}

#questionArea {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  justify-content: center;
}

#questionArea div {
  display:flex;
  flex-direction: column;
}

#testArea{
   width: 60%;
}

#testquestion {
  margin-bottom: 0px;
  width: auto;
}

#testArea ul{
  margin-left:0px;
  padding-left: 0px;
  display:flex;
  flex-direction: column;
  
}

#testArea li {
  list-style-type:none;
  margin-left:0px;
  padding:2px;
  margin-bottom: 20px;;
  font-size: larger;
  color:white;
  background-color: darkmagenta;
  border-radius: 5px;
  flex-direction: row;
  align-self: flex-start;
}

#answerScore{
    color: blue;
}

/* final score repot area*/
#end {
   display: flex;
   flex-direction:row;
}

div#initialsReport {
  flex-direction: row;
}

#reportScore, #nameInput {
  margin-left:5px;
}

#topScoreArea {
  display:flex;
  flex-direction: column;
  width:50%;
}

#topScoreArea ul {
  margin:0px;
  padding:0px;
}

#topScoreArea li {
  list-style-type:none;
  margin:0px;
  padding:2px;
  width:100%;
  margin-bottom: 5px;
  background-color: rgb(255, 225, 255);
  border-radius: 5px;
}

 /*NOTE: this is becuse there is an specificity issue with the 
  "#question div" CSS above */
div#scoreButtons {
  display:flex;
  flex-direction: row;
  margin-top:10px;
  height:100%;
}

#scoreButtons div {
  width: 60%;
}

.btn {
    border: none;
   color:white;
   background-color:darkmagenta;
   border-radius: 5px;
}

#backBtn, #clearScoreBtn {
  margin-left:5px;
  margin-right:5px;

}

